.harvest-the-future {
    margin: 0;
    height: 459px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .harvest-the-future-smart-farm-wrapper {
    width: 1463px;
    height: 414px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .predict-your-crop {
    width: 237px;
    position: relative;
    display: inline-block;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .predict-your-crop-wrapper {
    width: 541px;
    border-radius: var(--br-11xl) var(--br-xs) var(--br-26xl) var(--br-11xl);
    background-color: var(--color-olive);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-4xl-5) var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-24xl);
    color: var(--color-gray-100);
  }
  .frame-child {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame1 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-57xl) 0 var(--padding-164xl);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 2;
    text-align: left;
    font-size: var(--font-size-75xl);
    color: var(--color-black);
    font-family: var(--font-kadwa);
  }
  @media screen and (max-width: 925px) {
    .harvest-the-future {
      font-size: var(--font-size-28xl);
    }
    .predict-your-crop {
      font-size: var(--font-size-15xl);
    }
    .frame1 {
      padding-top: var(--padding-30xl);
      padding-bottom: var(--padding-100xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .harvest-the-future {
      font-size: var(--font-size-9xl);
    }
    .predict-your-crop {
      font-size: var(--font-size-7xl);
    }
    .frame1 {
      padding-top: var(--padding-13xl);
      padding-bottom: var(--padding-58xl);
      box-sizing: border-box;
    }
  }
  