.monitor {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gainsboro);
    mix-blend-mode: saturation;
  }
  .about-us,
  .brand-name,
  .home,
  .predict {
    height: 66px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .brand-name {
    width: 269px;
    white-space: nowrap;
  }
  .about-us,
  .home,
  .predict {
    flex: 1;
    debug_commit: f6aba90;
  }
  .about-us,
  .predict {
    margin-left: -82px;
  }
  .brand-name-parent,
  .home-parent {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-kadwa);
  }
  .home-parent {
    width: 643px;
    justify-content: flex-start;
  }
  .brand-name-parent {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 var(--padding-89xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .login {
    margin-right: -73px;
    width: 269px;
    height: 66px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
    margin-top: -66px;
  }
  .frame,
  .monitor-parent {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-19xl) 0 0;
    z-index: 2;
  }
  .monitor-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl) var(--padding-12xl) var(--padding-10xl);
    position: sticky;
    top: 0;
    z-index: 99;
    text-align: center;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-kadwa);
  }
  @media screen and (max-width: 1875px) {
    .brand-name-parent {
      display: none;
    }
  }
  @media screen and (max-width: 1400px) {
    .brand-name-parent {
      padding-right: var(--padding-35xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 925px) {
    .brand-name-parent {
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
  }
  