.unsplashiqvfvh0ajag-icon,
.wrapper-unsplashiqvfvh0ajag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  z-index: 1;
}
.unsplashiqvfvh0ajag-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  transform: scale(1.02);
}
.wrapper-unsplashiqvfvh0ajag {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .frame-wrapper, */
/* .landing-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
} */
.frame-wrapper {
  width: 1624px;
  flex-direction: row;
  padding: 0 43px;
  max-width: 100%;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: transparent;
  flex-direction: column;
  padding: 0 0 137px;
  gap: 2px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .frame-wrapper {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
