.login-page {
  /* background-color: #fff; */
  margin-left: auto;
  /* margin-left: 788px; */
  position: fixed;
  transform: translate(-50%, -50%);
  /* right: 50; */
  left: 50%;
  top: 50%;
  /* bottom: 50; */
  /* height: 200px; */
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 70vh;
  /* margin: auto; */
  /* background: url("https://unsplash.com/photos/grass-field-IQVFVH0ajag") no-repeat; */
}
.body{
  background: transparent;
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  /* border-radius: 50px; */
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-page h1 {
  font-size: 36px;
  text-align: center;
}


.input-box {
  width: 100%;
  height: 50px;
  position: relative;
  color: salmon;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  /* padding: 0 20px; */
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #090808;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #252323;
  font-size: 16px;
}

.login-page .remember-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
/* .login-page remember-me-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: -15px 0px 15px;
  margin-right: 50px;
} */

.login-page .remember-me label {
  color: #fff;
  font-size: 16px;
}
.remember-me input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-me a {
  text-decoration: none;
  color: #fff;
}

.remember-me a:hover {
  color: #3e2b2b;
  text-decoration: underline;
}

.login-page button {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 10px 20px 10px 20px;

  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page .register-button {
  margin-left: 10px;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.register-button a{
  text-decoration: none;
  color: #fff;
}

.register-button a:hover {
  color: #3e2b2b;
  text-decoration: underline;
}