@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kadwa", serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./frontend/assets/background.jpg") no-repeat;
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
